/* Forms */

form {
    @include remove-margins;
    margin-bottom: $margin-medium;
}

.formrow:first-of-type > *:first-child {
    margin-top: 0;
}

.formrow:last-of-type > *:last-child {
    margin-bottom: 0;
}

fieldset {
    border: 0;
    padding: 0;
}

label {
    color: color(label-color);
    display: inline-block;
    margin: 0 0 5px;
}

input,
button,
select,
textarea {
    background: color(input-background);
    color: color(input-color);
    cursor: pointer;
    font-size: $font-size-medium;
    margin-bottom: $margin-medium;
    padding: 0.7em 0.5em;
    width: 100%;
}

input[type="checkbox"]{
    width: auto;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="file"],
select,
textarea {
    border: 1px solid color(line-color);
    border-radius: 0;
    min-width: 1px;

    &:focus {
        background-color: color(input-background-focus);
        border-color: color(input-border-focus);
    }
}

button,
input[type="radio"],
input[type="checkbox"],
input[type="button"],
input[type="submit"] {
    width: auto;
}

textarea {
    resize: vertical;
}

select {
    min-height: 2.35em;
    padding-right: 2em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: color(placeholder-color);
}
::-moz-placeholder { /* Firefox 19+ */
    color: color(placeholder-color);
}
:-ms-input-placeholder { /* IE 10+ */
    color: color(placeholder-color);
}
:-moz-placeholder { /* Firefox 18- */
    color: color(placeholder-color);
}

/* http://stackoverflow.com/questions/9707021/how-do-i-auto-hide-placeholder-text-upon-focus-using-css-or-jquery */
input:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus:-moz-placeholder {
    color: transparent;
}
input:focus::-moz-placeholder {
    color: transparent;
}
input:focus:-ms-input-placeholder {
    color: transparent;
}