/* General */

html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
    color: color(body-color);
    font-family: 'Press Start 2P', sans-serif;
    font-size: 100%;
    -moz-osx-font-smoothing: none;
    -webkit-font-smoothing: none;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga' 1;
}

body {
    background: color(gradient-dark);
    background:radial-gradient(ellipse at center, color(gradient-light) 20%, color(gradient-dark) 100%);
    background-size: 100% 100%;
    background-position: 50% 90%;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    outline: 0;
}

::selection {
    background: color(selection-background);
    color: color(selection-color);
    text-shadow: none;
}