/* General */

html {
    background: color(body-background);
    box-sizing: border-box;
    color: color(body-color);
    font-family: 'Open Sans Condensed', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    font-size: 18px;
    height: 100%;
    overflowX: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga' 1;
}

body {
    @include clearfix;
    background: radial-gradient(ellipse at center, color(gradient-light) 20%, color(gradient-dark) 60%);
    margin: 0;
    text-align: center;
}

*,
*:before,
*:after {
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: inherit;
    outline: 0;
}

::selection {
    background: color(selection-background);
    color: color(selection-color);
    text-shadow: none;
}