// Grids
//
// These classes form a grid: a single row of elements that are spaced according to their width
// Typically you'll want to use either a `<div class="s-row">` wrapping a number `<div class="s-row__column">` elements.
//
// Markup
/*
<div class="s-row">
    <div class="s-row__column s-row__column--quarter">
        One quarter
    </div>
    <div class="s-row__column s-row__column--half">
        One Half
    </div>
    <div class="s-row__column s-row__column--quarter">
        One quarter
    </div>
</div>
*/
// Styleguide Structure.Grid

.s-row {
    @include clearfix;
    > .s-row__column {
        float: left;
        margin-right: $grid-medium;
        width: 100%;
        &:last-child {
            margin-right: 0;
        }
    }
    @media screen and (min-width: $small) {
        .s-row__column--half {
            @include split(1,2);
        }
        .s-row__column--third {
            @include split(1,3);
        }
        .s-row__column--twothird {
            @include split(2,3);
        }
        .s-row__column--quarter {
            @include split(1,4);
        }
        .s-row__column--threequarter {
            @include split(3,4);
        }
        .s-row__column--fifth {
            @include split(1,5);
        }
        .s-row__column--twofifth {
            @include split(2,5);
        }
        .s-row__column--threefifth {
            @include split(3,5);
        }
        .s-row__column--sixth {
            @include split(1,6);
        }
        .s-row__column--fivesixth {
            @include split(5,6);
        }
    }
}