// Styleguide Structure.Layout

.s-site {
    position: relative;
}

.s-site__masthead {
    @include pos-top;
    position: fixed;
    top: 0;
    background: color(header-background);
    padding: $margin-small $margin-site-side;
    z-index: 999;
}

.s-site__content {
}