// Styleguide Structure.Layout

.s-site__masthead {
    @include pos-top;
    background: color(header-background);
    padding: 100px $body-margin $margin-small;
    padding-top: 11em;
    position: fixed;
    top: -190px;
    z-index: 666;
}

.s-site {
    position: relative;
}