// Styleguide Structure.Layout

.s-site {
    @include pos-fullscreen;
    overflow: hidden;
}

.s-site__masthead {
    @include clearfix;
    @include pos-top;
    background: color(header-background);
    padding: $margin-small $margin-site-side;
}

.s-site__content {
    @include pos-wide;
    bottom: $footer-height;
    top: $header-height;
}

.s-site__footer {
    @include pos-bottom;
    background: color(footer-background);
    height: $footer-height;
    padding: $margin-small $margin-site-side;
}