// Styleguide Functions.Animations

 @keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(0.95);
    }
    10% {
        opacity: 0.95;
        transform: scale(1.0);
    }
    100% {
        opacity: 1;
        transform: scale(0.95);
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(0.5) translate(-75%, -75%);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}