// Styleguide Functions.Functions

// Function to retrieve colour from the $colors map
@function color($color-name, $color-variant:null) {
    // Colour variant is optional (this is for the nested lists such as font > body)
    @if ($color-variant != null) {
    // map inception
        @return map-get(map-get($colors, $color-name), $color-variant);
    } @else {
        @return map-get($colors, $color-name);
    }
}