// Styleguide Components.Banner
// _banner.scss

.c-banner {
    @include pos-centered;
    @include pixelfont;
    @include box-shadow-medium;
    background: color(banner-background);
    color: color(banner-text);
    padding: 10px;
    top: 53%;
    width: 65%;
    z-index: 3;
    transform: rotate(-10deg);
    left: auto;
    right: $margin-site-side;
}