// Styleguide Components.Banner
// _banner.scss

.c-banner {
    @include pos-centered;
    @include pixelfont;
    @include box-shadow-medium;
    background: color(banner-background);
    color: color(banner-text);
    padding: 10px;
    top: 52%;
    z-index: 3;
    transform: rotate(-10deg);
    left: 40%;
    width: 60%;
}