// Styleguide Components.Buttons

.button {
    @include pixelfont;
    @include transition-medium;
    @include text-shadow-medium;
    background: color(button-background);
    border: none;
    border-radius: 16px;
    color: color(button-text);
    cursor: pointer;
    display: inline-block;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: $margin-small;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:active {
        background: color(button-hover-background);
        color: color(button-hover-text);
        text-shadow: none;
    }
}

/* Variations (Sizes or locations) */
.button--primary {
    margin-bottom: $margin-medium;
}

.c-button-group {
    text-align: center;
}

.button--inline {
    display: inline-block;
    font-size: 16px;
    letter-spacing: -1px;
    margin-right: 8px;
    padding: 10px 8px 8px;
    width: auto;

    &:last-of-type {
        margin-right: 0;
    }
}

.button--icon {
    height: $button-dimension;
    line-height: $button-dimension;
    margin: 0;
    padding: 0;
    text-align: center;
    width: $button-dimension;

    &::after {
        @include awesome;
        display: inline-block;
    }
}

.button--icon-audio {
    &::after {
        content: "\f04b";
    }
    &.playing::after {
        content: "\f04c";
    }
}

.button--home-audio {
    left: $body-margin;
    position: absolute;
    top: 50%;
}

.button--trade {
    background: color(button-trade-background);
    color: color(button-trade-text);
    height: $button-dimension;
    line-height: $button-dimension;
    margin: 0;
    padding: 0;
    text-align: center;
    width: $button-dimension;

    &::after {
        @include awesome;
        display: inline-block;
    }
}

.button--buy {
    color: color(button-buy-text);

    &::after {
        content: "\f067";
    }
}

.button--sell {
    color: color(button-sell-text);

    &::after {
        content: "\f068";
    }
}

.button--deselect {
    background: color(button-deselect-background);
}

.button--disabled {
    background: color(button-disabled-background);
    color: color(button-disabled-text);
    cursor: no-drop;

    &:active {
        @include text-shadow-medium;
        background: color(button-disabled-background);
        color: color(button-disabled-text);
    }
}