// Styleguide Components.Buttons

.button {
    @include pixelfont;
    @include text-shadow-small;
    @include transition-medium;
    background: color(button-background);
    border: none;
    border-radius: 666em;
    color: color(button-text);
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    margin-bottom: $margin-small;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    touch-action: none;
    width: 100%;

    &:active {
        background: color(button-hover-background);
        color: color(button-hover-text);
        text-shadow: none;
    }
}

/* Variations (Sizes or locations) */
.button--primary {
    font-size: $font-size-small;
    margin-bottom: $margin-medium;
}

.c-button-group {
    text-align: center;
}

.button--inline {
    display: inline-block;
    font-size: $font-size-small;
    letter-spacing: -1px;
    margin-right: 8px;
    padding: 10px 8px 8px;
    width: auto;

    &:last-of-type {
        margin-right: 0;
    }
}

.button--trade {
    background: color(button-trade-background);
    color: color(button-trade-text);
    height: $button-dimension;
    line-height: $button-dimension;
    margin: 0;
    padding: 0;
    text-align: center;
    width: $button-dimension;
}

.button--disabled {
    background: color(button-disabled-background);
    color: color(button-disabled-text);
    cursor: no-drop;

    &:active {
        @include text-shadow-medium;
        background: color(button-disabled-background);
        color: color(button-disabled-text);
    }
}