// Styleguide Components.Combat
//_combat.scss

.c-combat {
    @include clearfix;
    margin-bottom: $margin-medium;
}

.c-health {
    padding: 2px;
    text-align: left;
    width: 100%;

    span {
        background: $green;
        border: 1px solid $black-50;
        color: $white;
        display: inline-block;
        text-align: center;
        width: 100%;
    }

}

.c-health--enemy {
    border: 2px solid $red;
}

.c-health--player {
    border: 2px solid $blue;
}

.c-combat__result {
}