// Styleguide Components.Hamburger

.c-hamburger {
    color: $white;
    float: right;
    min-height: $min-touch-height;
    width: $min-touch-height;

    &:after {
        @include awesome;
        content: "\f0c9";
    }
}