// Styleguide Components.Logo

.c-logo {
    @include pixelfont;
    color: color(logo-color);

    span {
        color: color(logo-span-color);
    }
}

.c-logo--main {
    @include text-shadow-medium;
    font-size: 24px;
    float: left;
}

.c-logo-splash {
    @include text-shadow-large;
    margin: 0 0 12vh;
    position: relative;
}

.c-logo-splash__top {
    font-size: 32px;
    margin-bottom: $margin-medium;
}

.c-logo-splash__bottom {
    font-size: 90px;
    margin-bottom: 0;
    position: relative;

    &::after {
        @include pos-centered;
        @include image-crisp;
        background: url(../images/icon-pill-16x16.png) 75% 40% no-repeat;
        background-size: 100%;
        content: '';
        height: 32px;
        left: 71.5%;
        top: 44%;
        width: 32px;
        z-index: 1;
    }
}

.c-logo__banner {
    @include pixelfont;
    @include box-shadow-medium;
    background: color(banner-background);
    bottom: -6vh;
    color: color(banner-text);
    padding: 10px;
    position: absolute;
    z-index: 3;
    transform: rotate(-10deg);
    right: 10%;
    width: 60%;
}