//_mainmenu.scss

.c-mainmenu {
    font-size: $font-size-small;
    display: none;
    margin-top: $margin-medium;
    text-align: center;

    p {
        margin: 0;
    }

    .c-mainmenu__item {
        border-radius: 15px;
        margin-bottom: $margin-medium;
        padding-bottom: $margin-small;
        padding-top: $margin-small;
        min-height: 50px;

        &:hover {
            background: $white-30;
            box-shadow: 0 0 15px $white-50;
            font-weight: bold;
        }
    }
}

.c-mainmenu__icon {
    @include image-crisp;
    display: inline-block;
    min-height: 36px;
    transform: scale(1);
    transform-origin: center bottom;
}
