// Styleguide Components.Modal

.c-modal {
    @include pos-fullscreen;
    background: color(modal-background);
    box-shadow: 3px 0 0 $black-50;
    color: color(modal-text);
    z-index: 555;

    .button {
        background: color(modal-button-background);
        color: color(modal-button-text);
    }
}

.c-modal__content {
    position: fixed;
    bottom: 20%;
    left: $body-margin;
    animation: pop-in 200ms;
    background: color(modal-content);
    padding: $margin-medium $margin-small;
    width: calc(100% - (2 * #{$body-margin}));
}

.c-modal__close {

}