// Styleguide Components.Player-Round-Stats

.c-stats {
    clear: both;
    @include clearfix;
}

.c-stats__day {
    float: left;
    text-align: left;
    width: 25%;
}

.c-stats__cash {
    float: left;
    width: 50%;
}

.c-stats__inventory {
    float: left;
    text-align: right;
    width: 25%;
}