// Styleguide Components.Articles
// _slides.scss

.c-slide {
    @include transition-fast;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    display: none;
    opacity: 0;
    overflow-y: scroll;
    padding: 80px $body-margin $margin-small;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.c-slide.c-slide--active {
    animation-name: pop-in;
    display: block;
    opacity: 1;
    z-index: 2;
}

.c-slide--remove {
    animation-name: pop-out;
    z-index: 0;
}