// Styleguide Variables.Colours.Raw

// Raw colors

    $red: #ee1c25;
    $red-dark: darken($red, 10%);

    $orange: #dd7d1e;
    $orange-dark: darken($orange, 6%);

    $yellow: #ffcb06;
    $yellow-dark: #c8a008;

    $green: #67b98b;
    $green-dark: darken($green, 8%);

    $blue-lightest: #b9e6fb;
    $blue: #3d62b2;
    $blue-dark: #1d3a72;
    $blue-darker: #07224e;

    $purple: #1c286c;

// 50 shades of grey
    $black: #000;
    $grey-black: #1f1f28;
    $grey-darkest: #3e3e43;
    $grey-darker: #58585a;
    $grey-dark: #8e8e93;
    $grey-medium: #bcbdc0;
    $grey-light: #e0e2e7;
    $grey-lighter: #ecf0f5;
    $grey-lightest: #f0f0f0;
    $grey-white: #f8f9fb;
    $white: #fff;

    $black-90: rgba(0,0,0,0.9);
    $black-80: rgba(0,0,0,0.8);
    $black-70: rgba(0,0,0,0.7);
    $black-50: rgba(0,0,0,0.5);
    $black-30: rgba(0,0,0,0.3);
    $black-10: rgba(0,0,0,0.1);
    $black-5: rgba(0,0,0,0.05);

    $grey-50: rgba($grey-medium, 0.5);

    $white-50: rgba($white, 0.5);

    $gradient-dark: #080719;
    $gradient-light: #273a74;


// Colour implementations
// Add variables for all colours used in the base category. Add for components as needed.
//
// Markup:
// a {
//     color: color(link);
// }

// Styleguide Variables.Colours.Implementations

$colors: (

    primary: $blue,
    secondary: $purple,

    selection-background: $blue,
    selection-color: $white,

    body-color: $grey-light,
    heading-color: $grey-darker,

    logo-color: $white,
    logo-span-color: $red,

    gradient-dark: $gradient-dark,
    gradient-light: $gradient-light,

    header-background: $black-10,
    footer-background: $black-30,

    link: $red,
    link-hover: $red-dark,

    line-color: $yellow,

    input-color: $blue-dark,
    input-background: $white,
    input-border: $grey-light,
    input-background-focus: $grey-light,
    input-border-focus: $blue,
    input-background-autofill: $blue,
    input-border-autofill: $blue,

    input-label-color: $grey-darker,
    input-placeholder-color: $grey-dark,

    button-background: $yellow,
    button-border: $grey-medium,
    button-text: $blue-dark,
    button-hover-background: $yellow-dark,
    button-hover-text: $white,
    button-disabled-background: $grey-lightest,
    button-disabled-text: $grey-medium,
    button-current-background: $blue,

    modal-background: $white,
    modal-header-background: $blue,

    sidebar-background: $grey-white,
    sidebar-background-hover: $white,
    sidebar-link: $grey-darkest,
    sidebar-link-hover: $blue,
    sidebar-border: $grey-light,
);
