// Styleguide Utilities.Utilities

/* Vertical centering */
.u-table {
    @include u-table;
}

.u-cell {
    @include u-table-cell;
}

// Spacing
.u-margin--bottom {
    margin-bottom: $margin-medium;
}

/* Absolute positioning */
.u-pos-fixed {
  backface-visibility: hidden;
  position: fixed !important;
}

.u-pos-top {
    position: absolute;
    top: 0;
}

.u-pos-topright {
    position: absolute;
    right: 0;
    top: 0;
}

.u-pos-right {
    position: absolute;
    right: 0;
}

.u-pos-bottomright {
    bottom: 0;
    position: absolute;
    right: 0;
}

.u-pos-bottom {
    bottom: 0;
    position: absolute;
}

.u-pos-bottomleft {
    bottom: 0;
    left: 0;
    position: absolute;
}

.u-pos-left {
    left: 0;
    position: absolute;
}

.u-pos-topleft {
    left: 0;
    position: absolute;
    top: 0;
}

/* Floats */
.u-float--right {
    float: right;
}

.u-float--left {
    float: left;
}

.u-float--none {
    float: none;
}

.u-full-width {
    width: 100%;
}


/* Visibility */
.u-hidden {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.u-shown {
    display: block;
    visibility: visible;
    opacity: 1;
}

.u-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.u-visuallyhidden.focusable:active,
.u-visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.u-invisible {
    visibility: hidden;
}

// Animations
.u-fade-in {
    animation-name: fade-in;
    animation-duration: 2s;
}